.App {
  text-align: center;
  background-image: url(./Images/background-2.jpg);
  height: 100vh;
  width: 100%;
}
.text-box {
  height: 35px;
  width: 400px;
  align-items: center;
  margin-top: 10%;
  font-size: 25px;
  background-color: rgb(13, 4, 80);
  color: aliceblue;
  border-radius: 5px;
  border: 2px solid rgb(12, 2, 59);
}

.text-box:focus,
.text-box:active {
  outline: 2px solid rgb(160, 145, 227);
  border: 2px solid rgb(160, 145, 227);
}
.add-btn {
  width: 80px;
  height: 35px;
  margin: 5px;
  font-size: 23px;
  color: rgb(3, 2, 40);
  border-radius: 5px;
  background-color: rgb(14, 169, 71);
  border: 2px solid rgb(94, 236, 139);
}
.add-btn:hover {
  outline: 2px solid rgb(21, 178, 19);
  background-color: rgb(69, 213, 122);
  border: 2px solid rgb(94, 236, 139);
}
.item-box {
  box-shadow: rgb(6, 0, 22) 0px 20px 30px -10px;
  width: 450px;
  border: 1px solid #ccc;
  border-radius: 8px;
  align-items: center;
  margin-top: 20px;
  margin-left: 35%;
  background-color: rgb(98, 26, 154);
  font-size: 25px;
  min-height: 300px;
}
.clear-btn {
  width: 80px;
  height: 35px;
  margin: 5px;
  font-size: 23px;
  color: rgb(208, 208, 221);
  border-radius: 5px;
  background-color: rgb(104, 3, 23);
  border: 2px solid rgb(237, 89, 44);
}
.clear-btn:hover {
  outline: 2px solid rgb(172, 5, 5);
  background-color: rgb(247, 32, 32);
  border: 2px solid rgb(185, 37, 11);
}
.prev-btn,
.next-btn {
  width: 60px;
  height: 25px;
  font-size: 15px;
  color: rgb(208, 208, 221);
  background-color: rgb(50, 48, 48);
  border: 2px solid rgb(110, 106, 105);
  margin: 1px;
  border-radius: 5px;
}
.prev-btn:hover:not([disabled]),
.next-btn:hover:not([disabled]) {
  outline: 2px solid rgb(113, 109, 109);
  background-color: rgb(92, 87, 87);
  border: 2px solid rgb(61, 58, 57);
}
